.campaings-settings__custom-alert-success {
  background: #1bb934;
}

.campaings-settings__custom-alert-icon-success {
  font-family: 'IcoMoon', sans-serif;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
}

.campaings-settings__custom-alert-icon-success::before {
  content: '\e939';
  color: #1bb934;
  line-height: 1;
  position: absolute;
  left: 1px;
}
