.campaigns-settings__tooltip-icon {
  width: 1rem;
  height: 1rem;
  font-family: 'IcoMoon', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #a8aab7;
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.campaigns-settings__tooltip-icon::before {
  content: '\e925';
  line-height: 1;
}

.campaigns-settings__tooltip-icon:hover > .campaigns-settings__tooltip {
  display: block;
}

.campaigns-settings__tooltip {
  display: none;
  white-space: nowrap;
  bottom: calc(100% + 0.5rem);
  background: #273142;
  color: #fff;
  padding: 0 0.75rem;
  border-radius: 4px;
  opacity: 0.9;
  line-height: 1.625rem;
  font-size: 0.875rem;
}

.campaigns-settings__tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #273142 transparent transparent transparent;
}
