.campaings-settings__text-input {
  border: 1px solid #d0d6de;
  border-radius: 4px;
  color: #354052;
  font-size: 0.875rem;
  font-weight: 600;
  outline: none;
  height: 2.25rem;
  padding: 0.5rem 0.75rem;
}

.campaings-settings__text-input-error {
  border-color: #ed1c24 !important;
}

.campaings-settings__text-input:hover {
  border-color: #bfc4cb;
}

.campaings-settings__text-input:focus {
  border-color: #a9b0b8;
}

.campaings-settings__hint-input-error {
  color: #ed1c24;
  font-size: 0.75rem;
  line-height: 1.3125rem;
}

.campaings-settings__hint-input-error-icon {
  font-family: 'IcoMoon', sans-serif;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  background: #ed1c24;
}

.campaings-settings__hint-input-error-icon::before {
  content: '\e92d';
  position: absolute;
  font-size: 0.65rem;
  font-weight: 600;
  left: 3px;
  top: 4px;
  line-height: 1;
  color: #fff;
}
