.campaings-settings__custom-alert {
  border-radius: 4px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125;
  width: 330px;
  padding: 0.625rem 1rem;
  background-color: #f85359;
}

.campaings-settings__custom-alert-icon {
  font-family: 'IcoMoon', sans-serif;
  font-size: 1rem;
  color: #fff;
}

.campaings-settings__custom-alert-icon::before {
  content: '\e927';
}

.campaings-settings__custom-alert-close {
  font-family: 'IcoMoon', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.campaings-settings__custom-alert-close::before {
  content: '\e92d';
}
