.campaigns-settings__custom-alert-error {
  background-color: #f85359;
}

.campaigns-settings__custom-alert-icon-error::before {
  content: '\e927';
  font-family: 'IcoMoon', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
