.campaigns-settings__tab-container {
  background: #f8fafb;
  border: 1px solid #e2e7ee;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #b7c0cd;
  padding: 2.5rem 2.875rem;
  margin: 1.875rem 0 0 0;
}
